@media (max-width: 767px) {
    
    .center {
    padding-left: 16px;
    padding-right: 16px;
  }

    .top{
        text-align: center;
    }

    .title {
        padding-top: 147px;
        font-size: 40px;
    }

    .subtitle{
        padding-bottom: 52px;
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 100%;
    }

    .title-button{
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0%;
        padding: 16px 103px 16px 103px;
        display: none;
        &:hover{
            background: $black-color;
            color: $white-color;
        }

        &-mob{
            display: inline;
        }


    }

    .about{
        display: none;
    }

    .mini-games{
        &__title{
            padding-bottom: 40px;
            font-size: 40px;
            line-height: 100%;
        }
    }

    .mini-games{
        &-box{
            gap: 24px;
        }
    }

    .game-big{
        display: unset;
        max-width: 343px;


        &__second{
            padding: 29px 29px 32px 29px;
        }

        &__img{
            max-width: 343px;
        }

        &__name{
            font-size: 32px;
            line-height: 100%;
            letter-spacing: 0px;
        }

        &__desc{
            padding-top: 16px;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0px;
            padding-bottom: 32px;
        }

        &__button{
            font-size: 16px;
            line-height: 20px;
            width: 285px;
            height: 55px;

            &:hover{
                background: $black-color;
                color: $white-color;
            }

        }
    }

    .footer{
        height: 100px;

        &__text{
            font-size: 16px;
            font-weight: 600;
        }
    }
}
